.empty {
  width: 60px;
  height: 60px;
  margin: 20px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background-color: blue;
}

.drag-box {
  width: 60px;
  height: 60px;
  border-style: solid;
  border-color: blue;
  border-width: 1px;
  background-color: yellow;
}
